body{
    background-color: rgb(117, 61, 61);
}

.topnav{
    overflow: hidden;
    background-color: rgb(97, 46, 46); 
}

select{
    margin-top: 5.25%;
    width: 10em;
    height: 2em;
}

.logo{
    float: left;
    padding: 10px;
    width: 15%;
    height: 15%;
}

form{
    margin-top: 5px;
}

.topnav a{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 5%;
}

.topnav a:hover{
    background-color: #57c49a;
}


h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 64px;
    text-align: center;
    color: beige;
    text-shadow: 5px 5px black;

}

.img{
    width: 600px;
    height: 450px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
    margin-top: 30px;
    
}

.contenedor{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    color: beige;
    text-shadow: 5px 5px black;
    
}

.empanadas{
    display: flex;
    margin-top: 50px;
}

.empanada{
    text-align: center;

} 

.empanada{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
.empanada .texto{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #f2f2f2;
    text-align:justify;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px; 
    margin-block-end: 100px;
}

p::first-letter{
    color: burlywood;
    font-size: 20px;  
}

.imagen{
    display: flex;
    justify-content:space-around;
    width: 200px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid grey;
    margin: auto;
}
